body {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background-color: white;
  position: fixed;
  top: 0%;
}

ul {
  display: flex;
  list-style: none;
}

li {
  font-size: 24px;
  padding-right: 80px;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 20%;
}

/* Banner */

.banner {
  background-color: rgba(255, 0, 0, 0.888);
  background-image: url("./photos/black-felt.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 70px 0;
  padding-top: 120px;
}

h1 {
  font-size: 55px;
  color: whitesmoke;
  font-weight: bolder;
}

.slogan {
  font-size: 25px;
  color: whitesmoke;
}

/* thesis */

.thesis {
  text-align: center;
  background-color: white;
  padding: 10px;
}

h2 {
  font-size: 35px;
}

/* team */

.team {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.members {
  display: flex;
}

.partner-1 {
  width: 60%;
  border-radius: 20%;
}
