/* General */

* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
}

main {
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
}

/* Header */

header {
  background-color: rgb(210, 210, 210);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin: 0;
  padding-left: 200px;
  padding-right: 200px;
  background-image: url("./resources/black-felt.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}

ul {
  display: flex;
  text-decoration: none;
}

li {
  padding-left: 30px;
  list-style: none;
  align-self: center;
  color: whitesmoke;
}

a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  width: 20%;
}

/* about us */

h1 {
  text-align: center;
  padding-bottom: 30px;
}

.why {
  text-align: center;
  display: flex;
}

.text {
  padding-right: 20px;
  text-align: justify;
}

.video {
  padding-left: 100px;
}
p {
  font-size: 1.3em;
}

/* Reviews */

.reviews {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 60px;
  padding-top: 80px;
}

.book {
  width: 300px;
  padding-right: 60px;
}
.cover {
  width: 100%;
}

h3 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.author {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Footer */

footer {
  background-color: gray;
  padding: 10px;
}

footer ul {
  justify-content: center;
}

.footer {
  align-self: center;
}

/* Tablet Responsive */

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile Responsive */

@media screen and (min-width: 767px) {
}
