/* General */
* {
  margin: 0;
  padding: 0;
}

main {
  padding: 100px 200px 0;
}

/* Header */
header {
  background-color: rgb(210, 210, 210);
  width: 100%;
  margin: 0;
  padding: 10px 200px;
  background-image: url("./resources/black-felt.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}

ul {
  display: flex;
  text-decoration: none;
}

li {
  list-style: none;
  padding-left: 30px;
  align-self: center;
  color: whitesmoke;
}

a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  width: 20%;
}

/* About Us */
h1 {
  text-align: center;
  padding-bottom: 30px;
}

.why {
  text-align: center;
  display: flex;
}

.text {
  padding-right: 20px;
  text-align: justify;
}

.video {
  padding-left: 100px;
}

p {
  font-size: 1.3em;
}

/* Reviews */
.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 35px;
  padding: 80px 0 60px;
}

.book {
  width: 200px;
  padding-right: 60px;
}

.cover {
  width: 100%;
}

h3 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.author {
  font-weight: bold;
  padding: 10px 0;
}
/* Footer */

footer {
  background-color: gray;
  padding: 10px;
}

footer ul {
  justify-content: center;
}

.footer {
  align-self: center;
}

/* Tablet Responsive */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo {
    content-visibility: hidden;
  }

  .why {
    display: block;
  }

  .video {
    content-visibility: hidden;
  }
}

/* Mobile Responsive */

@media screen and (max-width: 767px) {
  .logo {
    content-visibility: hidden;
  }

  .why {
    display: block;
  }

  .video {
    content-visibility: hidden;
  }
}
